html{
    color:gray;
    text-align:center;
    font-family:'Courier Prime';
}

h1{
    font-size:4em;
    font-family:'Courier Prime';
}

h3{
    font-size:3em;
    font-family:'Courier Prime';
    color:green;
}

p{
    font-size:1em;
    font-family:'Courier Prime';
}

a{
    color:orange;
    text-decoration:none;
}

a:hover{
    color:azure;
}



