html{
    color:gray;
    text-align:center;
    font-family:'Courier Prime';
}

h1{
    font-size:4em;
    font-family:'Courier Prime';
}

h2{
    text-align: center;
    color: green;
    font-size: 3em;
    font-family: 'Courier Prime';
}
h3{
    text-align: center;
    font-size:3em;
    font-family:'Courier Prime';
    color:green;
}

p{
    font-size:1.5em;
    font-family:'Courier Prime';
}

a{
    color:orange;
    text-decoration:none;
}

a:hover{
    color:azure;
}

.container {
    width: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin: auto;
}
.terminal {
    float: left;
    border: 1px solid black;
}

.nick_text {
    border: 1px solid black;
    overflow:hidden;
}


.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


